force-app/main/default/flows/dynamicFlowProgressLWC_Sampler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>choiceBar</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Bar&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bar</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceHorizontal</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Horizontal&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Horizontal</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePath</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Path&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Path</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRing</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Ring&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ring</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceVertical</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Vertical&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vertical</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceVertNav</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;VertNav&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VertNav</stringValue>
        </value>
    </choices>
    <constants>
        <name>constantPath</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Step 1,Step 2,Step 3,Step 4,Step 5,Step 6</stringValue>
        </value>
    </constants>
    <description>Flow gives you the ability to try out each indicator type for the new LWC version of the Dynamic Flow Progress component.</description>
    <environments>Default</environments>
    <interviewLabel>dynamicFlowProgressLWC - Sampler {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Dynamic Flow Progress LWC - Sampler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s00</name>
        <label>Select an Indicator Type</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s01</targetReference>
        </connector>
        <fields>
            <name>text00a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Sample the dynamicFlowProgressLWC Component&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text00b</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;This flow will allow you to try out each of the component&apos;s indicator types.  Select one to get started!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input00_IndicatorType</name>
            <choiceReferences>choiceVertical</choiceReferences>
            <choiceReferences>choiceHorizontal</choiceReferences>
            <choiceReferences>choiceBar</choiceReferences>
            <choiceReferences>choiceRing</choiceReferences>
            <choiceReferences>choicePath</choiceReferences>
            <choiceReferences>choiceVertNav</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choiceHorizontal</defaultSelectedChoiceReference>
            <fieldText>Select an Indicator Type:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s01</name>
        <label>Step 1</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s02</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Step 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>path01</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <elementReference>input00_IndicatorType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text01b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s02</name>
        <label>Step 2</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s03</targetReference>
        </connector>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Step 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>path02</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <elementReference>input00_IndicatorType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text02b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s03</name>
        <label>Step 3</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s04</targetReference>
        </connector>
        <fields>
            <name>text03a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Step 3&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>path03</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <elementReference>input00_IndicatorType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text03b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s04</name>
        <label>Step 4</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s05</targetReference>
        </connector>
        <fields>
            <name>text04a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Step 4&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>path04</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 4</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <elementReference>input00_IndicatorType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text04b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s05</name>
        <label>Step 5</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s06</targetReference>
        </connector>
        <fields>
            <name>text05a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Step 5&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>path05</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 5</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <elementReference>input00_IndicatorType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text05b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s06</name>
        <label>Step 6</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text06a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Step 6&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>path06</name>
            <extensionName>dflowp:dynamicFlowProgressLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>stepList</name>
                <value>
                    <elementReference>constantPath</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStep</name>
                <value>
                    <stringValue>Step 6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>indicatorType</name>
                <value>
                    <elementReference>input00_IndicatorType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>text06b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>s00</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
